.App {
  text-align: center;
}

/* 
########################################################################

forms

########################################################################
*/

fieldset {
  border: none;
  padding: 0;
  width: 100%;
}


form {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 3vh 3vw;
  margin: auto;
  width: 80%;
}

form p{
  font-size: 1.2vw;
  color: red;
}

input{
  background: rgba(100, 164, 204, 0.2);
  border-radius: 1.3vw;
  font-family: 'lato';
  margin-left: 4%;
  padding: 2%;
}

.formLabels {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.formLabels label, .formLabels input{
  text-align: left;
}

.formLabels input[type=text]{
  width: 80%;
}
.formLabels input[type=checkbox]{

  padding-right: 25%
}



