.App {
  text-align: center;
}

/* 
########################################################################

forms

########################################################################
*/

fieldset {
  border: none;
  padding: 0;
  width: 100%;
}


form {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 3vh 3vw;
  margin: auto;
  width: 80%;
}

form p{
  font-size: 1.2vw;
  color: red;
}

.formElement{
  background: rgba(100, 164, 204, 0.2);
  border-radius: .3vw;
  font-family: 'lato';
  margin-left: 1%;
  padding: .5vw;
}

.formLabels {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 2vh;
  width: 100%;
}

.formField {
  margin-bottom: 5vh;
  border-bottom: 2px dashed grey;
}

.formLabels label, .formLabels input{
  text-align: left;
}

.formLabels input[type=text]{
  width: 80%;
}

.formLabels input[type=checkbox]{
  padding-right: 25%
}

label > select {
  margin: 1.5% 0;
}

.taxonInput {
  padding: 0;
}
.taxonInput input {
  width: 10%;
}

label {
  padding-left: 1.5%;
}

.flexCol {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}